__pycache__/
.DS_Store
node_modules/
frontend/dist/
src-tauri/target/
backend/build/
backend/dist/
src-tauri/binaries/*
!src-tauri/binaries/.gitkeep
*.dmg
__pycache__/
results/
results4/l1mdtf_i/l1mdtf_i_aligned.fa
results3/l1mdtf_i/06_primers/all_18mer_candidates_metrics.csv
results3/l1mdtf_i/l1mdtf_i_aligned.fa
the1res1/the1d-int/06_primers/all_18mer_candidates_metrics.csv
the1res1/the1d-int/06_primers/all_18mer_candidates_metrics.csv
results4/l1mdtf_i/l1mdtf_i_aligned.fa
results4/l1mdtf_i/06_primers/all_18mer_candidates_metrics.csv
results3/l1mdtf_i/l1mdtf_i_aligned.fa
